
body{
	background: whitesmoke;
}
.white{
	background: white;
	padding:20px 20px 30px 30px;
}	
.white1{
	background: white;
	
}	
.hero{
	min-height: 475px;
	width: 100%;
	background: red;
	margin-top: -25px;
	overflow-y: hidden;
}
.ng-invalid     {  
	border-color: red;
}
.ng-valid     {  
	border-color: green;
}
.ng-pristine    {
	background: white;
  }


.navbar-inverse{
	background: #212121;
}

.login-signup{
	min-height:  250px;
}

.panel-login-signup{
	margin-top: 15px;
	padding: 10px 10px 10px 10px;
}
.model{
	height: 450px;
}

.btn-top{
	margin-left: 25px;
	margin-top: 7px;
}

.btn-panel{
	width: 100%;
	margin-bottom: 30px;
}

#loginform{
	margin-top: 100px;
}

.btn-wizard{
	margin-top: 70px;
}



monster{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}

.panel-wizard{
	paddding: 10px 10px 10px 10px;
}
.wizard{
	margin-top: 175px;
}

select.from-age{
	width: 200px;
}
.toast1{
	top: 100px;
	right: 100px;
}
.model-top{
	height: 200px;
	margin-top: -5px;
	margin-bottom: -50px;
}

.actionbar h4{
	color: white;
}

i{
	margin-left: 10px;
}
.panel-conversation{
	height: 600px;	
}
/*
.panel-footer{
	width: 100%;
	position: absolute;
	bottom: 0px;
	left:0px;
}*/

select.pais{
	background: gray;
	width: 100%;
	color: white;
	padding: 10px 10px 10px 10px;
}

.panel-footer button{
	margin-top: 10px;
}

.panel-footer textarea {
	width:90%;
	margin-left: 5%;
  overflow-y: scroll;
  border: 2px solid gray;
  padding: 10px 10px 10px 10px;
}
.result-pic{
	float:left;
	margin-right:  20px;
}
.result-text{
	
	margin-left:  20px;
}


.result-text img{
	margin-top: -16px;
	float: left;
}
.result-text i{
	margin-top: -145px;
	float: left;
}
.mobile-login{
    margin-top: -65px;
}
.box {
  width:80px;
  height:80px;
  background:gray;
  animation:pulse 0.5s infinite alternate;
  padding: 10px 10px 10px 10px;
}

@keyframes pulse {
  from { box-shadow:0px 0px 10px 3px whitesmoke; }
  to { box-shadow:0px 0px 50px 5px whitesmoke; }
}
@keyframes pulseyellow {
  from { box-shadow:0px 0px 10px 3px orangered; }
  to { box-shadow:0px 0px 50px 5px orangered; }
}
@keyframes pulseyellowtext {
  from {  text-shadow: 0px 0px 5px orangered; }
  to { text-shadow: 0px 0px 15px  orangered; }
}

.glow{
	animation:pulseyellow 0.5s infinite alternate;
}

.glow-text{
	animation:pulseyellowtext 0.5s infinite alternate;
}
.list-group-item{
	opacity: 1;
	 transition-property: opacity ;
  transition-duration: .8s;
 
   transition-timing-function: ease-out;
}

.me{
	background: #e0f2f1 ;
	color: #212121;;
	padding: 15px 15px 15px 15px;
}
.you{
	background: #f0f4c3 ;
	color: #212121;;
	padding: 15px 15px 15px 15px;
	opacity:.5;
	margin-top: 5px;
}

.me button{
	display: none;
}

#chat{
	
	height: 400px;
}

.chatbox{
	background-image: url("/images/paisley.png");
	background-repeat: repeat;
	overflow-y: auto;
	height: 400px;
}

.chatbox:last-child{
	margin-bottom: 55px;
}

.greyback{
	background-color: gray;
	color: white;
	padding: 40px 40px 40px 40px;
	margin-bottom: 30px;
}
.greyback2{
	background-color: #212121;
	
	
}

.col-xs-4 img{
	margin-bottom: 10px;
}

#openmessage{
    color: white;
    font-size: 28;
    margin-right: 55px;
}

.btnlang:hover{
    background: red;
    color: white;
    font-size: 30px;
}

.push-down{
    margin-top: 175px;
    
}
.actionbar{
    float: right; margin-top: -55px;
}

.not-approved{
    background: orangered;
    color: white;
    font-weight: bold;
    font-size: 18px;
    opacity: .4;
}

.approved{
    background: #212121;
     color: white;
    font-weight: bold;
    font-size: 18px;
    
}