<!DOCTYPE html>
<html lang="en" ng-app="Date">
<head>
	<meta charset="UTF-8">
	<title>Date Site</title>
	
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link rel="stylesheet" href="css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>
	<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
	<script src="//www.parsecdn.com/js/parse-1.6.12.min.js"></script>
	<script src="js/angular-translate.min.js"></script>
	
</head>
<body ng-controller="Navbar">
	<nav class="navbar navbar-default navbar-inverse" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        Logo
      </a>
	  
    </div>
			<div ng-hide="loggedin">
				<a class="btn btn-danger pull-right btn-top" ui-sref="register"> {{ "SIGNUP" | translate }}</a>
				<a class="btn btn-default pull-right btn-top" ui-sref="login">{{ "LOGIN" | translate }}</a>
			</div>
			<div ng-show="loggedin" class="actionbar pull-right">
				<h4>{{user}}</h4>
				<a ui-sref="search">
				<i class="fa fa-search fa-2x"></i>
				</a>
				<a ui-sref="mail">
				<i class="fa fa-envelope-o fa-2x"></i>
				</a>
				<i class="fa fa-tachometer fa-2x"></i>
				<p>
					<a ui-sref="logout">
					[{{"SIGNOUT" | translate}}]
					</a>	
				</p>
				
				
			</div>
  </div>
</nav>
	<div ui-view></div>

</body>

<script src="js/app.js"></script>

</html>

<!---- login ---->
   <script type="text/ng-template" id="login.html">
		   <div class="container ">
				<div class="row">
					<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2">
				<p>
				<img src="images/girl_model.png" class="model-top">
				</p>
				</div>
					<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 white">
					
						<form role="form" id="LoginForm" name="LoginForm" ng-submit="onSubmit(LoginForm.$valid)" novalidate >
							<div class="form-group">
								<label for="username">{{"USERNAME" | translate }}</label>
								<input type="text" id="username" name="username" class="form-control" ng-model="username" ng-minlength="2">
							</div>
							<div class="form-group">
								<label for="pwd">{{ "PASSWORD" | translate}}:</label>
								<input type="password" class="form-control"  ng-model="pw" required>
							</div>
							
							<input type="submit" class="btn btn-default btn-panel" value="{{'LOGIN' | translate }}"  ng-disable="LoginForm.$invalid" ng-minlength="6"></input>
						</form>
						
					</div>
				 
				</div>
			</div>	
           
  </script>
  <!---- login ---->
  
  <!----- register ---->
   <script type="text/ng-template" id="register.html">
   
   <div class="container btn-wizard2" >
				<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2">
				<p>
				<img src="images/girl_model.png" class="model-top">
				</p>
				</div>
				
					<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 white">
					
		<form  name="RegisterForm" role="form" ng-submit="onSubmit(RegisterForm.$valid)" novalidate>
		<div class="form-group">
			<label for="email">{{"EMAILADDRESS" | translate}}</label>
			<input type="email" class="form-control" id="email" ng-model="email"> 
			<p ng-show="RegisterForm.email.$invalid && !RegisterForm.email.$pristine" class="help-block">Enter a valid email.</p>
		</div>
		
		<div class="form-group">
			<label for="username">{{"USERNAME" | translate}}</label>
			<input type="username" class="form-control" id="email" ng-model="username" ng-minlenght="3" ng-maxlength="50">
			<p ng-show="RegisterForm.username.$error.minlength" class="help-block">Username is too short.</p>
  			<p ng-show="RegisterForm.username.$error.maxlength" class="help-block">Username is too long.</p>
		</div>
		
		<div class="form-group">
			<label for="pwd">{{"PASSWORD" | translate}}</label>
			<input type="password" class="form-control"   ng-model="pwr" ng-minlenght="6">
		</div>
		
		  <div class="form-group">
      <label for="age">{{"AGE" | translate}}</label>
      <select class="form-control" id="age" ng-model="age" required>
        <option ng-repeat="n in [] | range:100" value={{n}}  ng-selected="n == 18">{{n}}</option>
        
      </select>
      </div>
		
		<div class="form-group">
			<label for="username">{{ "GENDER" | translate }}</label>
			<select  class="form-control" ng-model="gender"  required>
			<option value="MALE">{{ 'MALE' | translate }}</option>
			<option value="FEMALE">{{' FEMALE' | translate }}</option>
			</select>
		</div>
		
		<input type="submit" class="btn btn-danger btn-panel" value="{{ 'SIGNUP' | translate }}" ng-disabled="RegisterForm.$invalid"></input>
		</form>
		
		</div>
				 
				</div>
			</div>	
	</script>
  <!----- register ---->
  