<div class="greyback2">

  <button popover-placement="bottom"  type="button" style="background: transparent;border-color: transparent;" 
				uib-popover-template="dynamicPopover.templateUrl" popover-is-open="popov">
					<i class="fa fa-bars fa-3x" style="color: white"> </i>
				</button>
				<a ui-sref="search">
				<i class="fa fa-search fa-3x"></i>
				</a>
				<a ui-sref="mail">
				<i class="fa fa-envelope-o fa-3x"></i>
				</a>
				
                
                <a ui-sref="contacts">
				 <i class="glyphicon glyphicon-user fa-2x"></i>
                </a>
 </div>
<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12  col-lg-offset-3">
	<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
	
</div>