
<div class="greyback2">

  <button popover-placement="bottom"  type="button" style="background: transparent;border-color: transparent;" 
				uib-popover-template="dynamicPopover.templateUrl" popover-is-open="popov">
					<i class="fa fa-bars fa-3x" style="color: white"> </i>
				</button>
				<a ui-sref="search">
				<i class="fa fa-search fa-3x"></i>
				</a>
				<a ui-sref="mail">
				<i class="fa fa-envelope-o fa-3x"></i>
				</a>
				
                
                <a ui-sref="contacts">
				 <i class="glyphicon glyphicon-user fa-2x"></i>
                </a>
 </div>
<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12  col-lg-offset-3">
    <h4>{{ 'CONTACTS' | translate }}</h4>
    <hr/>
    <button class="btn btn-default btn-panel" ng-click="refresh()">
        <i class="glyphicon glyphicon-refresh fa-2x"></i>
    </button>
	<ul class="list-group">
  <li class="list-group-item not-approved" ng-repeat="r in results">
      {{r.to}}
      <i class="glyphicon glyphicon-ban-circle pull-right"></i>
  </li>
  <li class="list-group-item approved" ng-repeat="r in results">
      {{r.to}}
      <i class="glyphicon glyphicon-ok pull-right"></i>
  </li>
</ul>
	
</div>