<div class="hero">
	<div class="container">
		<div class="row">
				<div class="content col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1">
					<!---- panel ---->
					<div class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
						<div class="panel panel-default panel-login-signup">
							<div class="panel-heading">
								
							</div>
							<div class="panel-body login-signup">
								
								<div class="row">
								<a class="btn btn-danger btn-panel" ui-sref="register">{{"SIGNUP" | translate}}</a>
								</div>
								
								<div class="row">
								<img src="images/fblogo.png" alt="" class="img-responsive">
								</div>
								
							</div>
						</div>
					</div>
					<!---- panel ---->
					<div class="col-lg-9 col-md-9 col-sm-9 hidden-xs model">
						<img src="images/girl_model.png" alt="" class="img-responsive">
						
					</div>
                    
                    <div class="col-xs-12 visible-xs ">
						<img src="images/girl_model.png" alt="" class="img-responsive">
                        <div class="panel panel-default mobile-login">
                            <div class="panel-body">
                                <img src="images/fblogo.png" alt="" height="50">
                                <b class="monster">|</b>
                                <a class="btn btn-danger " ui-sref="register">{{"SIGNUP" | translate}}</a>
                            </div>
                        </div>
						
					</div>
				</div>
			</div>
	</div>
</div>