  <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2">
				<p>
				<img src="images/girl_model.png" class="model-top">
				</p>
				</div>
<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 panel-wizard" >

  <div class="panel panel-default " >
    <div class="panel-body">
      		<button class="btn btn-danger">
				{{ 'DELETE' | translate }}
			  </button>
   <!--
	     <table class="table table-hover" cellspacing="1">
			 <caption>
				 {{ 'MESSAGES' | translate}}
			 </caption>
			 
			 <thead>
				 <tr>
					 <th style="width: 10px;">
						 <input type="checkbox">
					 </th>
					 <th style="width: 5px;">#</th>
					 <th>{{ 'USER' | translate}}</th>
					 <th>{{ 'LOCATION' | translate}}</th>
					 <th style="width: 10px;">{{ 'TIMESTAMP' | translate}}</th>
				 </tr>
			 </thead>
			 <tbody>
                 <tr>
                     
                 </tr>
				 <td>
					 <input type="checkbox">
				 </td>
				 <td>1</td>
				 <td>selma</td>
				 <td>DOMINICAN REPUBLIC</td>
				 <td>today</td>
			 </tbody>

		</table>
	-->
    	<ul class="list-group">
  <li class="list-group-item" ng-repeat="r in results" >
      <div ng-show="r.type == 'contactreq'">
      <p  class="contactreqmail"><a ui-sref ="profile({username: r.from})">{{ r.from }}:  desea tus contactos?<span class="pull-right">{{ 'VIEWPROFILE' | translate }}</span></a>
      
      <p class="white1">
          <img width="35" height="35" src="images/whatsapp.png">
          <img width="35" height="35" src="images/viber.webp">
          <button class="btn btn-success btn-xs pull-right">{{ 'ALLOW' | translate }}</button></p></p>
          </div>
     <div ng-show="r.type != 'contactreq'" ui-sref="conversation({convoid: r.from})">
      {{ r.from }}
      
      <div class="pull-right">
          {{ r. createdAt | date }}
      </div>
      </div>
    
  </li>

</ul>
    </div>
   
  </div>
  
 

</div>