  <div class="col-lg-4 col-md-8 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-2">
				<p>
				<img src="images/girl_model.png" class="model-top">
				</p>
				</div>
<div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-2 panel-wizard" >

  <div class="panel panel-default " >
    <div class="panel-body">
      		<button class="btn btn-danger">
				{{ 'DELETE' | translate }}
			  </button>
   
	     <table class="table table-hover" cellspacing="1">
			 <caption>
				 {{ 'MESSAGES' | translate}}
			 </caption>
			 
			 <thead>
				 <tr>
					 <th style="width: 10px;">
						 <input type="checkbox">
					 </th>
					 <th style="width: 5px;">#</th>
					 <th>{{ 'USER' | translate}}</th>
					 <th>{{ 'LOCATION' | translate}}</th>
					 <th style="width: 10px;">{{ 'TIMESTAMP' | translate}}</th>
				 </tr>
			 </thead>
			 <tbody>
				 <td>
					 <input type="checkbox">
				 </td>
				 <td>1</td>
				 <td>selma</td>
				 <td>DOMINICAN REPUBLIC</td>
				 <td>today</td>
			 </tbody>

		</table>
	
    </div>
   
  </div>
  
 

</div>