
<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12  col-lg-offset-3">
    <h4>{{ 'PHOTOS' | translate }}</h4>
    
    <form action="">
        <input type="file" name="pic" accept="image/jpg">
        
    </form>
    
    <div class="panel panel-default">
        
        <div class="panel-body">
            
            <div class="row">
                
                <div class="col-1g-3 col-md-3 col-sm-12 col-xs-12 upfoto" >
                    <img src="images/placeholder.jpeg" class="img-responsive" />
                </div>
                
              
                <div class="col-1g-3 col-md-3 col-sm-12 col-xs-12 upfoto">
                    <img src="images/placeholder.jpeg" class="img-responsive" />
                </div>
                
            </div>
            
            
        </div>
        
    </div>

	
</div>