<div class="col-lg-6 col-md-6 col-sm-10 col-xs-12  col-lg-offset-3">

      <div class="row col-xs-offset-1">
      
            <div class="result-pic col-lg-2 col-md-3 col-xs-4">
            <img src="images/placeholder.jpeg" alt="" class="img-responsive"/>
          </div>
          
          <div class="result-pic col-lg-2 col-md-3 col-xs-4">
            <img src="images/placeholder.jpeg" alt="" class="img-responsive" />
          </div>
          
          <div class="result-pic col-lg-2 col-md-3 col-xs-4">
            <img src="images/placeholder.jpeg" alt="" class="img-responsive" />
          </div>
          
          <div class="result-pic col-lg-2 col-md-3 col-xs-4">
            <img src="images/placeholder.jpeg" alt="" class="img-responsive" />
          </div>

  </div>
    
      <div class="row">
         <hr/>
      </div>
      
      <div class="row greyback">
        <div class="col-lg-10">
        <p> {{prof.username}}</p>
        <p>{{prof.age}}</p>
        <p> {{ prof.gender | translate }}</p>
        <p>{{ "LOCATION" | translate }}: {{ prof.location }}</p>
        </div>
      </div>
      
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ">
        <div class="row greyback  ">
          <div class="col-lg-3 col-md-3 col-xs-4 ">
              <i class="fa fa-star-o " ng-click="onFavorite()">{{ 'FAVORITE' | translate }}</i>
          </div>
          
          <div class="col-lg-3 col-md-3 col-xs-5">
            <img src="images/whatsapp.png"  height="30" width="30">
              <img src="images/viber.webp"  height="30" width="30">
              <img src="images/skype.gif"  height="30" width="30">
          </div>
          
          <div class="col-lg-3 col-md-3 col-xs-3">
            <button class="btn btn-success">
              {{ "SEND" | translate }}
            </button>
          </div>
          
        </div>
      </div>
      <br/>
      <div class="row">
        <hr/>
      </div>
      
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div class="panel panel-default">
            
            <div class="panel-headding">
              {{'BIRTHDAYHOROSCOPE' | translate}}
            </div>
            <div class="panel-body">
              regular body
            </div>
            
          </div>
          
        </div>
        
        <div class="col-lg-5 col-md-5">
          <div class="panel panel-default">
            
            <div class="panel-headding">
              {{'BIRTHDAYHOROSCOPE' | translate}}
            </div>
            <div class="panel-body">
              regular body
            </div>
        </div>
        
      </div>

       
 
   
  </div>
