 <div class="row">
  <div class="col-lg-3 col-md-8 col-sm-12 col-lg-offset-2 col-md-offset-2 hidden-xs">
				<p>
				<img src="images/girl_model.png" class="model-top img-responsive">
				</p>
				</div>
</div>

<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 col-lg-offset-2 col-md-offset-2 panel-wizard" >
<span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="panel panel-default "  >
    <div class="panel-heading" style="background: #c62828; color: white;" ng-init="isCollapsed = false" ng-click="isCollapsed = !isCollapsed" >
      
      <a class="box" style="background: #c62828; color: white;"  >
      
      {{ 'SEARCH' | translate }}
   
      </a>
     
      <i class="fa fa-minus pull-right"></i>
      <i class="fa fa-plus pull-right"></i>
       <span id="openmessage" class="pull-right">
      {{ "OPEN" | translate }}
      </span>
    </div>
    
    <div  uib-collapse="isCollapsed">
    
    <div class="panel-body">
      <p class="monster"> {{ 'AGE' | translate }}</p>
      <form class="form-inline" role="form">
      <div class="form-group">
      <label for="email">{{ 'BETWEEN' | translate}}</label>
      <select class="form-control ">
        <option ng-repeat="n in [] | range:100" value={{n}}  ng-selected="n == 18">{{n}}</option>
      </select>
      </div>
      <div class="form-group">
      <label for="email">{{ 'AND' | translate}}</label>
      <select class="form-control" id="to" >
        <option ng-repeat="n in [] | range:100" value={{n}}  ng-selected="n == 65">{{n}}</option>
        
      </select>
      </div>
      </form>
      <hr/>
      
    
   
      <div class="form-group">
      <label for="country">{{ 'COUNTRY' | translate}}</label>
      <select  ng-model="location" class="pais">
        <option value="" disabled selected>{{ 'QCOUNTRY' | translate }}</option>
        <option value="ANY" >{{ "ANYCOUNTRY" | translate }}</option>
        <option ng-repeat="(k,v ) in countries" value={{k}} > {{v}}</option>
      </select>
      </div>
      <hr/>
    
   
      <div class="form-group">
      <label for="country">{{ 'GENDER' | translate}}</label>
      <select class="pais" ng-model="gen">
        <option value="" disabled selected>{{ 'GENDER' | translate }}</option>
        <option value="MALE">{{ 'MALE' | translate}}</option>
        <option value="FEMALE">{{ 'FEMALE' | translate}}</option>
   
      </select>
      </div>
      <hr/>
   
	     <button class="btn btn-danger btn-panel glow " ng-click="onClick();"  ng-disabled="disableSearch"><i class="fa fa-search fa-2x" ></i></button>
	</div>
    </div>
   
  </div>
  
 

</div>

<!- results panel ->

<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 panel-wizard" >
  

  <div class="panel panel-default "  >
    <div class="panel-heading">
      {{ 'SEARCHRESULTS' | translate}}
    </div>
      <div class="panel-body">
     
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in results | Gender:gen | Location:location" frame="{{$index}}"> 
          
          <div class="result-pic">
              <a ui-sref="profile({ 'username' :  result.username })">
                <img src="http://localhost:5000/images/thumbs/{{result.photo[0].filename}}" alt="" height="100" width="100" />
              </a>
          </div>
          
          <div class="result-text">
            <p>{{ result.username}}</p>
            <p>{{ "AGE" | translate}}: {{ result.age }}</p>
            <p> {{ result.gender | translate }}</p>
           <div ng-if="result.location != 'USA' ">
             <p>{{ "LOCATION" | translate }}: {{ result.location | translate }}</p>
           </div>
           <div ng-if="result.location == 'USA' ">
             <p>{{ "LOCATION" | translate }}: {{ result.location+"DOM" | translate }}</p>
           </div>
           <div>
             <button  class="btn btn-success" ui-sref="conversation({convoid: result.username})">send</button>
           </div>
           <div class="pull-right">
             <i class="fa fa-star-o glow-text" ng-click="onFavorite(result.username)">{{ 'FAVORITE' | translate }}</i>
           </div>
           <div class="pull-right glow" ng-click="onContacts($index, result.username);" ng-hide="$index == idx ">
             <img src="images/whatsapp.png"  height="30" width="30">
             <img src="images/viber.webp"  height="30" width="30">
             <img src="images/skype.gif"  height="30" width="30">
             
           </div>
            
          </div>
        </li>
      </ul>
      
  </div>

	
    </div>
   
  </div>
  
 

</div>